{% extends 'base.html' %}
{% block header %}
  <div class="alert alert-primary" role="alert">
    <h3>Detail page</h3>
    <a href="{% url 'list'%}">一覧へ戻る</a>
  </div>
{% endblock header%}
{% block content %}
  {% if user.is_authenticated %}
    <div class="container">
      <div class="alert alert-success" role="alert">
        <p>タイトル：{{ object.title }}</p>
        <p>投稿者：{{ object.author }}
        </p>
        <p>
          <img src="{{ object.snsimage.url }}" width="300">
        </p>
        <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button" aria-pressed="true">いいね{{ object.good}}</a>
        <a href="{% url 'read' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">既読
          {{object.read}}</a>
      </div>
    </div>
  {% else %}
    please Login
  {% endif %}

{% endblock content %}
